<% layout('layouts/boilerplate') %>
<div id="map" style="width: 100%; height: 500px"></div>
<h1>All Campgrounds</h1>
<div>
  <a href="/campgrounds/new" class="btn btn-success mb-3">Add Campground</a>
</div>
<ul>
  <% for (let campground of campgrounds) {%>
  <p></p>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <% if(campground.images.length) {%>
        <img class="img-fluid" src="<%= campground.images[0].url %>" alt="" />
        <% } else { %>
        <img
          class="img-fluid"
          src="https://res.cloudinary.com/dbc4zumh8/image/upload/v1692553187/YelpCamp/joeq7hgz2iq8ruftqdw5.png"
          alt=""
        />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
          <p class="card-text">
            <small class="text-muted"><%= campground.location %></small>
          </p>
          <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>"
            >View <%= campground.title %></a
          >
        </div>
      </div>
    </div>
  </div>
  <% } %>
</ul>

<script>
  const campgrounds =  { features: <%- JSON.stringify(campgrounds) %> }
</script>

<script src="./js/clusterMap.js"></script>
