<% layout('layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<div>
  <a href="/campgrounds/new" class="btn btn-success mb-3">Add Campground</a>
</div>
<ul>
  <% for (let c of campgrounds) {%>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid" src="<%= c.image %>" alt="" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= c.title %></h5>
          <p class="card-text"><%= c.description %></p>
          <p class="card-text">
            <small class="text-muted"><%= c.location %></small>
          </p>
          <a class="btn btn-primary" href="/campgrounds/<%= c._id %>"
            >View <%= c.title %></a
          >
        </div>
      </div>
    </div>
  </div>
  <% } %>
</ul>
